<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/header :: header(page_title='Recipe Details')"></div>
<body>
<div th:if="${recipe}">
    <h2 th:text="${recipe.getTitle()}"></h2>
    <p>Total Time:
    <div th:text="${recipe.getCookingTime()}"></div>
    </p>
    <p>Servings:
    <div th:text="${recipe.getServings()}"></div>
    </p>

    <p>
    <div th:text="${recipe.getDescription()}"></div>
    </p>

    <p>
    <h3>Ingredients</h3>
    <div th:text="${recipe.getIngredients()}"></div>
    </p>

    <p>
    <h3>Instructions</h3>
    <div th:text="${recipe.getInstructions()}"></div>
    </p>

    <p>
    <h3>Submitted: </h3>
    <div th:text="${recipe.getCreationTime()}"></div>
    </p>

    <p>
    <h3>Last updated: </h3>
    <div th:text="${recipe.getLastModified()}"></div>
    </p>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>