<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/header :: header(page_title='Recipe Details')"></div>
<body>
<nav th:replace="fragments/header :: navbar"/>
<div class="container " th:if="${recipe}">

    <div class="card" style="width: 60rem;">
        <!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h4 class="card-title" th:text="${recipe.getTitle()}"/>
            <figcaption class="blockquote-footer" th:text="${recipe.getSubmittedBy()}"></figcaption>

            <div class="row ml-1 mt-2">
                <div>
                    <i class="far fa-clock"></i> <span class="card-text" th:text="${recipe.getCookingTime() + ' min'}"/>
                </div>

                <div class="ml-2">
                    <i class="fas fa-utensils"></i> <span class="card-text" th:text="${recipe.getServings()}"/>
                </div>
            </div>

            <div class="card-text mt-3" th:text="${recipe.getDescription()}"/>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <h5>Ingredients</h5>
                        <div th:text="${recipe.getIngredients()}"/>
                    </div>
                    <div class="col">
                        <h5>Directions</h5>
                        <div th:text="${recipe.getCookingInstructions()}"/>
                    </div>
                </div>
            </li>
        </ul>
        <div class="card-body">
            <a th:href="@{'/view/recipe/edit/' + ${recipe.id}}" class="card-link">Edit</a>
        </div>

        <div class="list-group-flush d-flex justify-content-between">
            <div class="ml-4">
                <p>
                <h5>Submitted On: </h5>

                <div th:text="${#dates.format(recipe.getCreationTime(), 'dd-MMM-yyyy hh:mm aa')}"></div>
                </p>
            </div>
            <div class="mr-4">
                <p>
                <h5>Last updated: </h5>
                <div th:text="${#dates.format(recipe.getLastModified(), 'dd-MMM-yyyy hh:mm aa')}"></div>
                </p>
            </div>

        </div>

    </div>







</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>