<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header(page_title='User Details')"></div>
<body>

<div class="container" th:if="${user}">
    <table>
        <tr>
            <td>UserName:</td>
            <td th:text="${user.getUserName()}"></td>
        </tr>

        <tr>
            <td>Id:</td>
            <td th:text="${user.getId()}"></td>
        </tr>

        <tr>
            <td>Email:</td>
            <td th:text="${user.getEmail()}"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td th:text="${user.getPassword()}"></td>
        </tr>

        <tr>
            <td>Creation Time:</td>
            <td th:text="${user.getCreationTime()}"></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>